<app-navbar></app-navbar>
<div class = "card-wrapper">
<div class="slideContainer">
    <button class="leftArrow" mat-raised-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <img class="slide" src="{{currentPhoto}}">
    <button class="rightArrow" mat-raised-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
<div class="rightDiv">
    <div style="font-size: xx-large; font-weight: bold;">
    {{this.product.title}}
    </div>
    <br>
    <div style="font-size: medium;">
    {{this.product.description}}
    <br><br>
    Price: {{this.product.price}}€
    </div>
</div>
</div>
<button (click)="addToCart()" style="margin-left: 30px; margin-top: 15px" mat-raised-button color="primary">Add to cart!</button>