<app-navbar></app-navbar>

<img style="width: 100%;" src="assets/resources/banner.jpg">


<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="contact-info">
            <div>
                <mat-icon>home</mat-icon>
                <span>
                    <h5>Camin 5 Memo</h5>
                </span>
            </div>
            <div>
                <mat-icon>phone</mat-icon>
                <span>
                    <h5>0722 255 385</h5>
                </span>
            </div>
            <div>
                <mat-icon>email</mat-icon>
                <span>
                    <h5>jay.kshirsagar@student.unitbv.ro</h5>
                </span>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contact-map">
            <div style="font-family: 'Times New Roman'; margin-top: 40px; text-align: center; font-size: 24px;">
                Locatia noastra:
            </div>
            <br>
            
            <div >
                <section class="location">
                    <h1>Contact</h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89245.20351183311!2d25.526423261601046!3d45.65257669660195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b862aa214f1%3A0x6cf5f2ef54391e0f!2zQnJhyJlvdg!5e0!3m2!1sen!2sro!4v1649621195432!5m2!1sen!2sro"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        
    </mat-grid-tile>
</mat-grid-list>


<section class="example-container">

    <div class="">

    </div>



</section>